body {
	font-family: 'Oswald', sans-serif;     /*<- Google Font*/
}

.first-cont {
	margin: 50px auto;
}

.p-about {
	color: #00C11A;
	text-shadow: 1px 3px 2px #383B6F;
	font-size: 20px;
}

#home-body {
	background-image: url(https://source.unsplash.com/2rxgWHby5mo);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

#about-body {
	background-image: url(https://source.unsplash.com/XZ6KN9y29nY);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}

#contact-body {
	background-image: url(https://source.unsplash.com/aj2NByc3srs);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#projects-body {

}

#me-pic {
	border: solid 4px #243C98;
	padding: 0;
}

#index-info {
	text-align: center;
	color: #c00;
	text-shadow: 1px 1px 8px #EFF6FF;
}

#res-but {
	text-align: center;
}

#res-but a:hover {
	color: #383B6F;
}

#cont-form {
	color: #27164b;
	text-shadow: 1px 3px 2px #eee;
}
#cont-also {
	margin-top: 20px
}
#tie {
	margin-bottom: 1px;
}